@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: 'Ayah';
	src: url('/fonts/Ayah.ttf') format('truetype');
}

@font-face {
	font-family: 'Almarai';
	src: url('/fonts/Almarai.ttf') format('truetype');
}